body{
    background-color: grey;
    color: white;
    font-family: 'Lato', sans-serif;
}

.title{
    text-align: center;
    text-transform: capitalize;
}
.main-project-photo{
    margin: auto;
    width: 40%;
    height: auto;
}
