body{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-style: none;
    height: 4vh;
}
ul.nav-links{
    padding: 0;
    margin: 0;
}

li.nav-links{
    list-style-type: none;
    display: inline;
}

.page{
    color: hsl(0, 0%, 100%); 
    padding: 4vh 20px 4vh 20px;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.page.selected{
    background-color: hsl(0, 0%, 100%);
    color: black;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summary-grid{
    display: grid;
    grid-template-areas: 'headliner headliner headliner' 'photo photo photo' 'objectives challenges results';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 75vh 2fr;
    grid-gap: 1rem;
}
.headliner{
    text-transform: capitalize;
    grid-area: headliner;
}
figure.cover{
    grid-area: photo;
}
.cover{
    height: 60vh;
    width: auto;
}
.objectives{
    grid-area: objectives;
}
.challenges{
    grid-area: challenges;
}
.results{
    grid-area: results;
}

.link-button{
    background-color: hsl(29, 100%, 49%);
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5em;

}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,3fr) );
    grid-gap: 2vh 2vh;
    padding: 2vw;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 12rem; 
    background-color: white;
    border-style: solid;
    text-transform: capitalize;
}
/*.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map contact"
}
.contact-info{
    grid-area: contact;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contact {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}*/
    