body{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-style: none;
    height: 4vh;
}
.selected-page{
    background-color: hsl(0, 0%, 100%);
    color: black;
    padding: 4vh 20px 4vh 20px;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.unselected-page{
    color: hsl(0, 0%, 100%); 
    padding: 4vh 20px 4vh 20px;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

figure{
    margin: 10vh;
}

.main-project-photo{
    width: 50vw;
    height: auto;
}

ul.nav-links{
    padding: 0;
    margin: 0;
}

li.nav-links{
    list-style-type: none;
    display: inline;
}


.link-button{
    background-color: hsl(0, 0%, 100%);
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5em;

}
.project-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px,3fr) );
    grid-gap: 2vh 2vh;
    padding: 2vw;
}
.project{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 10vh; 
    text-align: center;
    background-color: white;
    border-style: solid;
    text-transform: capitalize;
}
/*.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map contact"
}
.contact-info{
    grid-area: contact;
    display: grid;
    grid-template-rows: 1fr 1fr;
}*/

.contact {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
    