body{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-style: none;
    height: 2.2em;
}
ul.nav-links{
    padding: 0;
    margin: 0;
}
li.nav-links{
    list-style-type: none;
    display: inline;
}

.page{
    color: hsl(0, 0%, 100%); 
    padding: 4vh 20px 4vh 20px;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.page.selected{
    background-color: hsl(0, 0%, 100%);
    color: black;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

.summary-grid{
    display: grid;    
    grid-template-areas: 'headliner headliner' 'photo photo' 'objectives challenges' 'results results';
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 3rem;
}
.headliner{
    text-transform: capitalize;
    grid-area: headliner;
}
p.subtitle{
    text-transform: none;
    margin: 0px 1vmin 0px 1vmin;
}

figure.cover{
    grid-area: photo;
}
.cover{
    height: 40vh;
    width: auto;
}
.objectives{
    grid-area: objectives;
    text-align:left;
}
.challenges{
    grid-area: challenges;
    text-align:left;
}
.results{
    grid-area: results;
    text-align:left;
}

.link-button{
    border-style: solid;
    border-color: hsl(39, 100%, 44%);
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    border-radius: 2rem ;
    font-size: 1.5em;
    min-width: 7em;
    max-width: 20em;
}
.link-button:hover{
    color: white;
    background-color: hsl(39, 100%, 44%);
    /*hsl(199, 98%, 48%);*/
}
.link-button.address{
    width: 15em;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,3fr) );
    grid-gap: 2vh 2vh;
    padding: 2vw;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 12rem; 
    background-color: white;
    border-style: solid;
    border-radius: 2rem ;
    text-transform: capitalize;
}

.contact{
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map contact";
    padding: 5vw;
    align-items: center;
}
.contact-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

.map{ 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%); 
}


    