/* General Style Elements */
:root{
    --base-color:#F5EEDC;
    --accent-color:#27548A;
    --pop-color: #DDA853;
}
*{
    font-family: 'Avenir', sans-serif;
}
.title-text{
    font-size: 3rem;
    font-weight: bold;
}
.heading-text{
    font-size: 2rem;
}
.desc-text{
    font-size: 1.5rem !important;
}

#content{
    margin-top: 2vh;
    min-width: 80vw;
}
/* Project Page Style Elements */
.icon{
    height: 15rem;
    width: auto;
}
/* Navigation Bar Style Elements */
nav{
    background-color: var(--accent-color);
    font-size: 1.5rem;
}
.nav-button, .nav-title{
    background-color: var(--accent-color);
    color: white !important;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
}
.nav-button:hover, .nav-title:hover{
    background-color: var(--pop-color);
    color: var(--base-color) !important;
    /* Fix for bold text shifting elements */
    text-shadow: 1px 0 0 var(--base-color);
}
/* Home page Style Elements */
#pfp{
    border: transparent;
    border-radius: 40px;
}
/* Contact Page Style Elements */
#contact-info{
    display: flex;
    flex-direction: column;
}
.contact-title {
    padding: 20px;
    min-width: 80px;
    width: 20vw;
    margin: 10px; 
    background-color: transparent;
    border: none;
    pointer-events: none;
    
}
.contact-button{
    text-decoration: none;
    padding: 20px;
    width: 20vw;
    min-width: 80px;
    margin: 10px; 
    border: solid 2px black;
}
.contact-button > a{
    text-decoration: none;
    color:purple;
    width: 100%;
}
.map{ 
    width: 50vh;
    height: 50vh;
    -webkit-filter: grayscale(100%); 
}


    