body{
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    border-style: none;
    height: 4vh;
}
ul.nav-links{
    padding: 0;
    margin: 0;
}
li.nav-links{
    list-style-type: none;
    display: inline;
}

.page{
    color: hsl(0, 0%, 100%); 
    padding: 4vh 20px 4vh 20px;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.page.selected{
    background-color: hsl(0, 0%, 100%);
    color: black;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summary-grid{
    display: grid;    
    grid-template-areas: 'headliner headliner' 'photo photo' 'objectives challenges' 'results results';
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: 3rem;
}
.headliner{
    text-transform: capitalize;
    grid-area: headliner;
}

figure.cover{
    grid-area: photo;
}
.cover{
    height: 40vh;
    width: auto;
}
.objectives{
    grid-area: objectives;
    text-align:left;
}
.challenges{
    grid-area: challenges;
    text-align:left;
}
.results{
    grid-area: results;
    text-align:left;
}

.link-button{
    background-color: hsl(29, 100%, 49%);
    color: black;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 0 10px 0 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5em;

}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,3fr) );
    grid-gap: 2vh 2vh;
    padding: 2vw;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 12rem; 
    background-color: white;
    border-style: solid;
    text-transform: capitalize;
}

.contact{
    display: grid;
    height: 30vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map contact";
    padding: 5vw;
    align-items: center;
}
.contact-info{
    display: grid;
    grid-template-areas: 'email address' 'phone number';
    justify-items: end;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}
.contact-info .text{
    justify-items: start;
}
.map{ 
    -webkit-filter: grayscale(100%); 
}


    